table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .pagination {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .pagination li {
    padding: 1em;
    height: 1em;
    background-color: #fff;
  }

  .pagination li.active {
    background-color: #dddddd;
  }